html
  body
    h1 Name: #{name}
    h3 Artist: #{artist}
    h3 Description: #{description}
    h3 #{website}
    hr
    p Script Type And Version: #{scriptTypeAndVersion}
    p Script Ratio: #{scriptRatio}
    hr
    p Artist Ethereum Address: #{artistAddress}
    p Additional Payee: #{additionalPayee}
    p Additional Payee Percentage: #{additionalPayeePercentage}
    p Invocations: #{invocations}
    p Maximum Invocations: #{maxInvocations}
    p License: #{license}
    p Token Ids: #{tokensOfProject}
    p Active? #{active}
    p Paused? #{paused}
    p Locked? #{locked}
    hr
    p #[strong Script:]
    pre #{script}
